.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 60px;
  gap: 5px;
  height: 100vh;
 }

header {
  grid-column: 1/ 3;
  background: #4CAF50;
}

aside {
     background: #eee;
}

main {
     background: #fff;
}

footer {
  grid-column: 1 / 3;
  background: #333;
  color: white;
}
@media (max-width: 768px) {
  .search-input {
  
  }
}
